.class_products {
	vertical-align: middle;
}

.class_products h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* 
.class_products img{
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
 */
/* .class_products a{
  text-decoration: none;
  color: black;
  float: left;
  font-size: 16px;
}
 */
.class_cate {
	font-size: 9px;
	text-align: left;
	margin-bottom: 20px;
}

.class_title {
	text-align: left;
	font-weight: bold;
	word-break: break-all;
	margin-top: 5px;
	margin-bottom: 10px;
}

.class_price {
  text-align : left;
  margin-bottom: 60px;
  margin-top: 0px;
}

.top-left {
  position: absolute;
  top: 5px;
  left: 12px;
  background-color: #f3be34;
  font-weight: bold;
  text-align: center;
  font-size: 9px;
}
