@charset "UTF-8";
#main_menu li:nth-child(1) { color: #00c7ae; }

#cate_menu { 
	width: 610px;
    margin: 0 auto;
    padding-top: 20px;    
}
#cate_menu ul li { display: inline-block; }
#cate_menu ul li a {
	display: inline-block;
	width: 6rem;
	text-align: center;
}
#cate_menu ul li img { width: 6rem; }
#cate_menu ul li .hobby_name { text-align: center; }

#pop_hobby ul { float: left; margin: 43px 0px; }
#pop_hobby ul li { display: inline-block; margin-right: 16px; }
#pop_hobby ul li img { width: 4rem; }
#pop_hobby ul li .rank_info {
	position: absolute;
    line-height: 0;
    font-size: 2.9em;
    font-weight: 700;
    top: -0.3em;
    left: -17px;
    color: #34343c;
    font-family: 'Jua', sans-serif;
}
.mySwiper6 { width: 730px; margin-bottom: 40px; }