@charset "UTF-8";

.clubcontent2 {
	margin-top:20px;
	margin-bottom:20px;
	width: 600px;
	float:left;

}
.clubcontent3 {
	width: 600px;
	float:left;
}
.clubcontent3 h3 {
	float: left;
	margin-left: 15px;
}

.clubcontent3 .edit {
	width: 15px;
	height: 15px;
	margin-left: 480px;
	position: absolute;
	float: right;
	cursor: pointer;
	float:left
}

.clubcontent3 p {
	margin-left: 10px;
	float:left
}

.clubcontent4 {
	width: 600px;
	float:left;
	margin-top: 20px;
}
.clubcontent4 .calendar {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-right: 15px;
	float: left;
}
.clubcontent4 p {
	margin-left: 10px;
	float:left;
}


.addbtn  {border-radius: 10px 10px 10px 10px; position:absolute;background: #ABF200; color: white;}

.like_icon {
	position: absolute;
	top: 3px;
    right: 3px;
    width: 14px;
    height: 13px;
    text-indent: -99999px;
    background-image: url(../img/alto_common_icon.png);
    background-size: 85px;
    background-position: -22px 0px;
    cursor: pointer;
}

.hobby_icon {
	float: left;
    width: 25px;
}

.clubcontent5 {background-color: #F3BE34; width: 50px; height: 50px; float: left; margin-top: 10px; margin-left: 5px;}
.clubcontent6 {background-color: #EAEAEA; width: 300px; height: 50px;float: right; margin-top: 10px; margin-right: 330px;}
.clubcontent6 .gps {width: 20px; height: 20px; margin-top:3px; margin-left: 20px;}
.clubcontent6 .span1 {margin-left: 10px; text-align: left;}
.clubcontent6 .span2 {margin-left: 10px;}
.edit {width: 15px; height: 15px; cursor: pointer; margin-left: 70px; margin-bottom: 10px; }
.member ul li img { width: 40px; vertical-align: middle; }
.member ul li {display: inline;}
.member{margin-top: 10px;}
.member .plus { width: 25px; margin-left: 5px;}
.schedulebtn {width: 365px; height: 40px; border-radius: 4px; margin-top: 10px; margin-left: 5px; background-color: #EAEAEA; }
.joinbtn {width: 600px; height: 40px; border-radius: 4px; background-color: #F3BE34; margin-bottom: 70px; margin-top: 20px; margin-left: 5px;  }

#schedual_member { width: 300px; float: right; border: 1px solid; margin-top: 20px;}
#schedual_member ul li { position: relative; cursor: pointer; margin-left: 10px; }
#schedual_member ul li img { width: 40px; vertical-align: middle; }
#schedual_member ul li span {	
    position: absolute;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}
#schedual_member ul li span.memName { 
	width: 76px; 
	height: 32px;
	overflow: hidden;
}
#schedual_member ul li span.manager { 
	margin-right: 30px;
	right: 0; 
	font-size: 10px;
	font-weight: bold;
	color: #777;
}
#schedual_member h2 {
	margin-left: 10px;
	margin-top:10px;
}
.left{float: left; width: 70%}
.right{float: right;}




