@charset "UTF-8";



.swiper { width: 100%; height: 100%; }
.mySwiper { padding: 0 50px; }
.mySwiper2 { padding: 0 40px; }
.mySwiper3,.mySwiper4 { padding: 0 60px; }
.mySwiper5 {
	width: 430px;
    margin: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;  
}

/* swiper button */
.swiper-button-prev {
	--swiper-navigation-size: 22px;
	left: 0px;
	top: 40%;
    right: auto;
    width: 37px;
    height: 45px;
    background: #F9F9F9;
    color: #34343c;
}
.swiper-button-next {
	--swiper-navigation-size: 22px;
	right: 0px;
	top: 40%;
    width: 37px;
    height: 45px;
    background: #F9F9F9;
    color: #34343c;
}

#sec_01 { margin:30px 50px 20px; }
/* 취미 순위 */
#sec_01 .swiper-slide img {
	width: 6rem;
    height: 6rem;
    margin-bottom: 2rem;
}
#sec_01 .swiper-slide div {
	position: absolute;
	width: 6rem;
    height: 10px;
    bottom: 0;
}
.swiper-slide div .rank_info {
	position: absolute;
    line-height: 0;
    font-size: 2.9em;
    font-weight: 700;
    top: -0.3em;
    left: -17px;
    color: #34343c;
    font-family: 'Jua', sans-serif;
}
#sec_01 .swiper-slide div .hobby_name {
    font-size: 0.6em;
    font-weight: bold;
    bottom: 0;
    width: 100%;
}

#sec_02,#sec_03,#sec_04,#sec_05,#sec_06 { margin-bottom: 40px; }
/* BEST 모임 swiper */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide span,.swiper-slide p { position: absolute; }
.swiper-slide .area {
	background-color: #fff;
    width: 3rem;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 0.3rem;
    color: #00c7ae;
    font-weight: bold;
    text-align: center;
}
.swiper-slide .area_online { background-color: #34343c; color:#ffd040; }
.swiper-slide .hobby_icon {
	bottom: 5px;
    left: 3px;
    width: 2.5rem;
}
.swiper-slide .club_name {
	width: 157px;
    height: 24px;
	bottom: 6px;
    left: 3rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
}
.swiper-slide .memNum {
	bottom: 10px;
    right: 3px;
    color: #34343c; 
	font-size: 0.3em;
    font-weight: bold;       
}
.swiper-slide .like_icon {
	top: 3px;
    right: 3px;
    width: 14px;
    height: 13px;
    text-indent: -99999px;
    background-image: url(../img/alto_common_icon.png);
    background-size: 85px;
    background-position: -22px 0px;   
    cursor: pointer;  
}

/* 인기 클래스 - 클래스, 취미용품 일반 리스트 */
.product .swiper-slide img {
	margin-bottom: 8rem;
}
.product .swiper-slide div { 
	position: absolute;
    width: 100%;
    bottom: 0;
    height: 8rem;
}
.product .rank_info {
	top: -20px;
    left: -26px;
}
.product div p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
}
.product .class_name {
	height: 33px;
    width: 100%;
    overflow: hidden;
	top: 5px;
    text-align: left;
    line-height: 1.3rem;
}
.product .hobby_name {
	top: 38px;
	font-size: 0.85rem;
	color: #666;
	font-weight: 400;
}
.product .class_price {
	bottom: 0px;
    font-size: 0.9rem;
}

/* 새로생긴 모임 - 모임 일반 리스트 */
.club div p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
}
.club .swiper-slide img {
	margin-bottom: 5rem;
}
.club .swiper-slide div { 
	position: absolute;
    width: 100%;
    bottom: 0;
    height: 5rem;
}
.club .hobby_icon {
	left: -1px;
    width: 1.8rem;
    height: 1.8rem;
    top: 5px;
}
.club .hobby_icon img { margin: 0; }
.club .club_name {
	text-align: left;
    left: 23px;
    top: 7px;
    width: 140px;
    height: 17px;
    color: #000;
    font-size: 0.8rem;
    overflow: hidden;
}
.club .memNum {
	top: 22px;
    left: 23px;
    width: fit-content;
    height: fit-content;
    color: #494c57;
}
.club .s_icon,.s_icon2 {
	display: inline-block;
    width: 13px;
    height: 15px;
    margin: 0 3px;
    background-image: url(../img/alto_common_icon.png);
    background-repeat: no-repeat;
    background-position: 0px -27px;
    background-size: 104px;
}
.club .s_icon2 {
	background-position: -13px -27px;
}
.club .club_info .club_schedule {	
	top: 35px;
    left: 19px;
    height: 18px;
    font-weight: 700;
    font-size: 0.7rem;
    overflow: hidden;
}
.club .club_schedule span {
	position: relative;
	vertical-align: middle;
}

#sec_07 { margin-bottom: 100px; }










