@charset "UTF-8";
#quick_btn {
	position: absolute;
    top: -25px;
    left: 75%;
    padding: 5px;
    background: #494c57;
    color: #fff;
    font-size: 11px;   
    font-weight: 700;        
    z-index: 5;
    display: none;
    cursor: pointer;
}
#member_section {
	position: absolute;
    top: 0;
    left: 50%;
    width: 700px;
    padding: 10px;
    background-color: #F9F9F9;
    z-index: 3;
    transform: translate(-50%, 0);
    overflow: hidden;
    border: 1px solid #cdcdcd;
}

#member_section div { 
	float: left;
	width: 300px; 
	margin: 0 15px;
}
#member_section div h2 { margin-bottom: 5px; }
#member_section div .sub_menu {
	position: absolute;
    right: 0;
    top: 0;
}
#member_section div ul li { display: inline; }

#member_section div .my_club li {
	position: relative;
    background: #fff;
    width: 145px;
    overflow: hidden;
    display: inline-block;
}
#member_section div li img {
	width: 40px;
    margin-right: 10px;
}
#member_section div .my_club li .club_name {
	position: absolute;
    top: 5px;
    font-size: 13px;
    font-weight: 700;
}
#member_section div .my_club li .club_schd {
	position: absolute;
    bottom: 5px;
    font-size: 11px;
}

#member_section div h2.my_area { float: left; margin-right: 10px; }
#member_section div .area_list { line-height: 26px; }
#member_section div .area_list li { margin-right: 10px; }
#member_section div h2.my_hobby { clear: left; }
#member_section .mem_close { 
	clear: left; 	
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#sec_member,#sec_member .mySwiper4 { margin-bottom: 40px; }
#sec_member .float_left {
	float: left;
    margin: 0 50px;
}