@charset "UTF-8";
#payment_div {
	width: 640px;
    margin: 30px auto;
    padding: 20px;
    background: #e4e4e4;
}
#payment_div h2 {
	padding: 10px;
    background: #fff;
    font-size: 25px;
    border-radius: 3px;
}
#payment_div h4 { margin-bottom: 10px; }

#reChoice {
	position: absolute;
    top: 24px;
    right: 24px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/alto_common_icon.png);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: -61px 4px;
    background-color: #e4e4e4;
    border-radius: 3px;
    text-indent: -9999px;
    cursor: pointer;
}

.paySection {
	padding: 24px;
	margin-bottom: 10px;
	background: #fff;
	font-size: 15px;
    border-radius: 3px;    
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}
.paySection h3 { margin-bottom: 20px; }
.paySection p { font-family: 'Noto Sans KR', sans-serif; }
.paySection button { 
	position: absolute;
    top: 263px;
    right: 52px;
	font-size: 12px;
}

/* notice Style */
.paySection .noti1,.popup_div .noti1 {
	margin: 4px 0;
    color: #777;
	font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
}
.paySection .noti2 {
	display: block;
	margin: 4px 0;
    color: #F3BE34;
	font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
}

#payment_div .popup_div {
	padding: 20px;
    width: 370px;
    text-align: left;
    font-size: 11px;
    display: none;
}
.popup_div h4 {
	font-size: 15px;
    margin-bottom: 10px;
}
.popup_div .btn_area button { width: 48%; }
.popup_div .noti1 { margin-bottom: 20px; }


/* input Style */
input[type=text] { padding: 8px 15px; margin: 5px 0 0; }
input[type=text].size1 { width: 410px; }
input[type=text].size2 { width: 260px; }
input[type=text].size3 { width: 215px; }
/* 필수 입력 text */
.paySection .notiTxt { border: 1px solid #F3BE34; }

/* 주문 정보 */
.item_info {
	clear: left;
	margin-bottom: 10px;
	overflow: hidden;
}
.item_info img {
	float: left;
	width: 100px;
	margin-right: 10px;
}
.item_info div {
	float: left;
	width: 350px;
}
.item_info div .item_name {
	font-family: 'Noto Sans KR', sans-serif;
}
.item_info div span {
	display: block;
	font-size: 13px;
	color: #777;
}

/* 쿠폰 */
.couponInfo {
	position: absolute;
    top: 60px;
    left: 50px;
    width: fit-content;
	padding: 3px 10px;    
    font-size: 11px;    
    background: #fff;
    border: 1px solid #F3BE34;
    display: none;
}

/* 배송 정보 */
#del_info p {
	font-size: 14px;
	margin-top: 15px;
}

/* 결제 금액 */
.price_info p {
	color: #777;
	padding: 5px 0;
	
}
.price_info p span { float: right; }
.price_info .point_txt1 { color: #F3BE34; }
.price_info .point_txt2 { 
	padding: 10px 0;
	margin-top: 15px;
    border-top: 1px solid #e4e4e4;
	font-weight: 700;
}

/* 결제 방식 */
.pay_method { margin: 0 auto; }
.pay_method li { 
	display: inline-block;
	width: 49%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.pay_method li.choice { border: 1px solid #F3BE34; }

/* 카드 결제 */
.payInfo p { margin-top: 10px; }
.payInfo .price_info .point_txt2 {
	margin-top: 0;
    border: none;
    padding: 0px 0px 30px;
}
.payInfo .price_info .point_txt2 span {
	font-size: 20px;
	font-weight: 700;
	color: #F3BE34;
}
select { 
	padding: 10px; 
	width: 100%;
	border: 1px solid #e4e4e4;
}
.card_info {
	width: 50%;
    float: left;
}

.payInfo .checkStyle {
	padding: 10px 10px 10px 40px;
}
#cashBill_area .checkStyle {
	color: #e4e4e4;
	border: 1px solid #e4e4e4;
}
#cashBill_area .checked {
	color: #F3BE34;
	border: 1px solid #F3BE34;
}
#cashBill_area .option02 { display: none; }

/* 바우처 팝업 */
.popup_div { width: 530px; padding: 40px 35px; }
.popup_div .select { color: #F3BE34; }

.popup_div .closeBtn {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 16px;
	height: 16px;
	background-size: 120px;
	background-position: -12px 0px;
	background-image: url(../img/alto_common_icon.png);
	text-indent: -9999px;
}

/* 결제 완료 */
#payComInfo { clear:right; width: 100%; }
#payComInfo table { 
	margin-bottom: 30px;
	border: none; 
	font-size: 12px;
}
#payComInfo table th { 
	padding: 0 40px 5px 0;
	color: #777; 
	text-align: left;
}
#payComInfo .select { color: #F3BE34; }

.paySection p a {
	color: #F3BE34;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

#delChange {
	float: right;
    padding: 5px 5px 5px 20px;
	font-size: 10px;
	border-radius: 3px;
	background-color: #777;
	background-size: 80px;
	background-position: -63px 8px;
	background-repeat: no-repeat;
	background-image: url(../img/alto_common_icon.png);
	cursor: pointer;
}

/* 배송지 변경 popup */
#delEditPopup {
	position: absolute;
    top: 50%;
    left: 50%;
	width: 370px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 12px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    display: none;
}
#delEditPopup .closeBtn {
	position: absolute;
	right: 10px;
    width: 16px;
    height: 16px;
    background-size: 120px;
    background-position: -12px 0px;
    background-image: url(../img/alto_common_icon.png);
    text-indent: -9999px;
}
#delEditPopup .size1 { width: 197px; }
#delEditPopup .size0 { margin-top: 10px; }
#delEditPopup p { margin-top: 5px; }
#delEditPopup .margin { margin-bottom: 5px; }
