@charset "UTF-8";

table {
	    width: 100%;
	    border-top: none;
	    border-right: none;
	    border-left: none;
	    border-collapse: collapse;
	  }
h2 {padding-top :20px;}
.searchField {margin-bottom: 10px;}
	  
th,td{border: 1px solid; border-top: none; height: 40px;}
	  
.td1{border-right: none; border-left: none;}
	  
.td2{border-right: none; border-left: none;}
	  
.btn01{width: 80px; height: 30px; background-color: #F3BE34; margin-top: 10px; margin-bottom: 20px;}