@charset "UTF-8";
#quick_btn {	
    padding: 5px;
    font-size: 11px;   
    font-weight: 700;        
    z-index: 5;
    display: none;
    cursor: pointer;
}
#member_section {
	position: absolute;
    top: 92px;
    left: 50%;
    width: 700px;
    padding: 10px;
    background-color: #F9F9F9;
    z-index: 3;
    transform: translate(-50%, 0);
    overflow: hidden;
    border: 1px solid #cdcdcd;
}

#member_section div { 
	position: relative;
	float: left;
	width: 300px; 
	margin: 0 18px;
}
#member_section div h2 { margin-bottom: 5px; font-size: 15px; }
#member_section div .sub_menu {
	position: absolute;
    right: -13px;
    top: 0;
}
#member_section div .sub_menu a { font-size: 12px; color: #777; }
#member_section div ul li { display: inline; }
#member_section div .sub_menu li:nth-child(2) {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url(../img/alto_common_icon.png);
	background-repeat: no-repeat;
    background-size: 75px;
    background-position: -61px 4px;
    background-color: #e4e4e4;
    border-radius: 3px;
    text-indent: -9999px;
    cursor: pointer;
}

#member_section div .my_club li,.my_club li {
	position: relative;
    background: #fff;
    width: 145px;
    margin-right: 5px;
    overflow: hidden;
    display: inline-block;
    border-radius: 3px;
}
#member_section div .my_club li img,.my_club li img { width: 40px; padding: 5px; }
#member_section div li img {
	width: 40px;
    margin-right: 5px;
}
#member_section div .hobby_list { margin-left: 25px; }
#member_section div .hobby_list li img { width: 45px; }
#member_section div .my_club li .club_name,.my_club li .club_name {
	position: absolute;
    top: 5px;
    width: 100px;
    height: 15px;
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#member_section div .my_club li .club_schd,.my_club li .club_schd {
	position: absolute;
    bottom: 5px;
    width: 85ppx;
    height: 15px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#member_section div h2.my_area { float: left; margin-right: 10px; }
#member_section div .area_list { line-height: 26px; font-size: 12px; }
#member_section div .area_list li { margin-right: 10px; }
#member_section div h2.my_hobby { clear: left; }
#member_section .mem_close { 
	clear: left; 	
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
}

#sec_member { overflow: hidden; }
#sec_member,#sec_member .mySwiper4 { margin-bottom: 40px; }
#sec_member .float_left { float: left; }
#sec_member .float_right { float: right; }

/* 모임 바로가기 설정 팝업 */
#clubQuikList { display: none; }
#clubQuikList { 
	width: 230px;
	padding: 20px;
	background: #F8F8F8;
}
.popup_div h4 { margin-bottom: 10px; text-align: left; }
.popup_div .my_club li {
	background: none;
	text-align: left;
	cursor: pointer;
	border: 1px solid #F8F8F8;
}
.popup_div .my_club li.select { 
	background: #fff;
	border: 1px solid #494c57;
}
.popup_div .closeBtn_style {
	position: absolute;
	top: 20px;
	right: 10px;
    width: 14px;
    height: 14px;
    background-size: 100px;
    background-position: -10px 0px;
    background-image: url(../img/alto_common_icon.png);
    text-indent: -9999px;
}
#clubQuikList .basicBtn { font-size: 12px; }
