@charset "UTF-8";
#member_div {
	width: 640px;
    margin: 30px auto;
    padding: 20px;
    background: #e4e4e4;
}
#member_div h2 {
	padding: 10px;
    background: #fff;
    font-size: 25px;
    font-weight: 700;
    border-radius: 3px;
}
#member_div h4 { margin-bottom: 10px; }

.memSection {
	padding: 24px;
	margin-bottom: 10px;
	background: #fff;
	font-size: 15px;
    border-radius: 3px;    
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}
.memSection textarea { height: 150px; }
.memSection h3 { margin-bottom: 20px; }
.memSection p { 
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 5px;
}

/* notice Style */
.memSection .noti1,.popup_div .noti1 {
	margin: 4px 0;
    color: #777;
	font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
}
.memSection .noti2 {
	margin-left: 5px;
    color: #F3BE34;
	font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 이용약관동의 */
.checkStyle {
	padding: 10px 10px 10px 40px;
	background-image: url(../img/check_icon.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 1px 9px;
	cursor: pointer;
}
.checked { background-position: 1px -36px; }

/* 회원정보 입력 */
#member_div.member_info { width: 450px; }
.memInfo .noti2 {
	display: block;
	margin: 4px 0;
}

.align_div { width: 270px; }
.float_left { float: left; }
.float_right { float: right; }

.info_div {
	overflow: hidden;
    width: 362px;
}
.info_div .float_right { width: 70px; padding-top: 10px; }
.gender_div {
    display: inline-block;
    width: 73px;
    height: 33px;
    font-size: 12px;
    vertical-align: middle;   
}
.gender_div span {
	display: inline-block;
    background: #ddd;
    padding: 8px 12px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.gender_div span.select {
	background: #F3BE34;
    font-weight: 700;
}

/* 활동지역 */
#area_list { width: 317px; margin: 0 auto; }
#area_list ul li { 
	display: inline-block;
    width: 92px;
    margin: 5px;
    color: #494c57;
    font-size: 13px;
    font-weight: 700;    
    padding: 5px 10px 5px 30px;
    background: #e4e4e4;
    border-radius: 3px;
    cursor: pointer;
}
#area_list ul li.select { background: #F3BE34; }
#area_list ul li label { cursor: pointer; }


#member_div .popup_div {
	padding: 20px;
    width: 370px;
    text-align: left;
    font-size: 11px;
    display: none;
}
.popup_div h4 {
	font-size: 15px;
    margin-bottom: 10px;
}
.popup_div .btn_area button { width: 48%; }
.popup_div .noti1 { margin-bottom: 20px; }


/* input Style */
input[type=text], input[type=password] { padding: 8px 15px; margin: 10px 0 0; }
input[type=text].size1 { width: 410px; }
input[type=text].size2 { width: 260px; }
input[type=text].size3 { width: 215px; }
/* 필수 입력 text */
.memSection .notiTxt { border: 1px solid #F3BE34; }


