@charset "UTF-8";
html { font-size: calc(6px + .5vw); }
header { top: 0; }

html,
body a,
button,
dd,
div,
dl,
dt,
html,
input,
label,
li,
p,
span,
textarea,
ul,
th,
td {
    font-family: -apple-system,BlinkMacSystemFont,'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
a,
button,
ul,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 { font-weight: 700; font-size: 1.5em; }

li { list-style: none; }

input,
textarea {
    background-color: #F8F8F8;
    border-radius: 2px;
    box-sizing: border-box;
    border: none;
    padding: 5px;
}
textarea { resize: none; }

/* textbox Style */
input[type=text], input[type=password], textarea {
	width: 100%;
    padding: 5px 7px;
    margin-bottom: 10px;
    font-size: 12px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
}
input.size0 { width: 100%; }

/* button Style */
button {
	font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.pointBtn {
	padding: 8px 20px;
	font-weight: bold;
	background: #F3BE34;
    border-radius: 3px;
}
.basicBtn {
	padding: 8px 15px;
	color: #777;
    font-weight: bold;
    background: #e4e4e4;
    border-radius: 3px;
}
.basicBtn02 {
	padding: 8px 15px;
	color: #F9F9F9;
    font-weight: bold;
    background: #494C57;
    border-radius: 3px;
}
button.size0 { width: 100%; }

/* popup div style */
.popup_div {
	position: absolute;
	width: fit-content;
    padding: 20px 40px;
    font-size: 13px;    
    text-align: center;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 12px;
    z-index: 100;
}
.popup_div p { margin-bottom: 20px; }
