@charset "UTF-8";
h2, h3 { font-family: 'Noto Sans KR', sans-serif; margin-bottom: 25px; }
header {
	width: 100%;
	float: left;
	padding: 30px 30px 10px 30px;	
}
header div { margin: auto; width: 1000px; }
header li a { font-family: 'Noto Sans KR', sans-serif; }


#logo a {
	background-image: url(../../img/alto_logo.png);
	background-repeat: no-repeat;
	background-size: 7rem;
	width: 8rem;
	height: 4rem;
	text-indent: -9999px;
	float: left;
	cursor: pointer;
}


nav {
	float: left;
	margin: 10px;
}
nav #main_menu li {
	display: inline;
	margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 700;    
}


#allSearch { 
	float: left; 
	margin-left: 30px;
	background-color: #e4e4e4; 
}
#allSearch_keyword {	
    width: 260px; 
    border: none;
    margin: 0; 
    padding: 10px 15px;  
   	background-color: #e4e4e4;
}
#search_btn {
	background-image: url(../../img/alto_common_icon.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: -103px 5px;
    background-color: #e4e4e4;
    text-indent: -99999px;
    width: 30px;
    cursor: pointer;
}


#sub_menu { float: right; margin-top: 10px; }
#sub_menu li {
	display: inline;
    font-size: 0.852rem;
    font-weight: 700;
    margin-left: 5px;
}


section { 
	position: relative;
	clear:both;
	margin: auto;
    max-width: 1000px;
    min-width: 960px;
}
section div { position: relative; }


#ban_area {
	width: 100%;
	padding: 20px 0 20px;
    background: #FFD200;
    overflow: hidden;
}
#ban_area div { 
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}
#ban_area div div {
	display: inline-block;
	width: 300px;
}
#ban_area a {
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px; 
    text-align: left;
    border-radius: 3px;
}
#ban_area div:nth-child(1) a {
	background-image: url(../../img/ban_bg01.gif);
}
#ban_area div:nth-child(2) a {
	background-image: url(../../img/ban_bg02.gif);
}
#ban_area div:nth-child(3) a {
	background-image: url(../../img/ban_bg03.gif);
	color: #34343c;
}
#ban_area a span {
	position: absolute;
	font-size: 30px;
	font-family: 'Do Hyeon', sans-serif;
}
#ban_area div div:nth-child(2) a span {
	top: 100px;
}
#ban_area div div:nth-child(3) a span {
	top: 64px;
    left: 87px;
    text-align: right;
}


/* 목록 정렬 select style */
#selectBoxArea {
	position: absolute;
    right: 5%;
    z-index: 3;
}
.selectBox {
	padding: 5px;
    margin-top: 4px;
    width: 100px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #494c57;
    cursor: pointer;
}
.select_list { display: none; }


/* 소모임 메뉴 */
#title { text-align: center; }
#clubMenu { margin-bottom: 10px; }
#clubMenu ul {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#clubMenu ul li {
	width: 25%;
	float: left;
	height: 40px;
	list-style: none;
	line-height: 40px;
	text-align: center;
	background: #EAEAEA;
	font-weight: bolder;
}
#clubMenu ul li a { 
	display: block; 
	font-size: 13px; 
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight: 700;
}

/* 소모임 타이틀 */
#clubTit .edit {
	width: 15px;
	height: 15px;
	margin-left: 460px;
	position: absolute;
	float: right;
	cursor: pointer;
	float:left
}
#clubTit img { float: left; width: 25px; }
#clubTit h2 { 
	line-height: 24px;
	margin: 0 0 0 32px;
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight: 700;
}
#clubCont { width: 900px; margin: 10px auto 50px; }

/* pagination style */
#paging { 
	margin: 30px 0 10px;
	text-align: center;
	font-size: 12px; 
	font-family: 'Noto Sans KR', sans-serif;
}
#paging a {
	padding: 3px 8px;
	border: 1px solid #fff;
}
#paging a:hover { color: #000; border: 1px solid #EAEAEA; }
#paging a.select:hover { border: 1px solid #fff; }
#paging .select {
	font-weight: 700;
	background: #F3BE34;
}


footer { 
	clear: both;
	position: relative;
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-left: 1.333rem;
    padding-right: 1.333rem;
    font-size: 1rem;
    color: #777;
    border-top: 1px solid #e4e4e4;
}
footer div { margin: auto; width: 1000px; }
footer div ul { margin-bottom: 20px; }
footer div ul li { 
	display: inline; 
	margin-left: 19px;
	font-weight: bold;
}
footer div ul li.first {
	margin-left: 0px;
	padding-left: 0px;
}
footer .f_copy { margin-top: 10px; }
footer a:hover { color: #494c57; }