@charset "UTF-8";

.swiper { width: 100%; height: 100%; }
.mySwiper { padding: 0 50px; }
.mySwiper2 { padding: 0 40px; }
.mySwiper3,.mySwiper4,.mySwiper6 { padding: 0 60px; }
.mySwiper5 { width: 430px; margin: 0; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;  
}

/* swiper button */
.swiper-button-prev {
	--swiper-navigation-size: 22px;
	left: 0px;
	top: 40%;
    right: auto;
    width: 37px;
    height: 45px;
    background: #F9F9F9;
    color: #34343c;
}
.swiper-button-next {
	--swiper-navigation-size: 22px;
	right: 0px;
	top: 40%;
    width: 37px;
    height: 45px;
    background: #F9F9F9;
    color: #34343c;
}

#sec_01 { margin:30px 50px 40px; }
/* 취미 순위 */
#sec_01 .swiper-slide img {
	width: 6rem;
    height: 6rem;
    margin-bottom: 2rem;
}
.swiper-slide .rank_info {
    line-height: 0;
    font-size: 2.9em;
    font-weight: 700;
    bottom: 40px;
    left: -9px;
    color: #34343c;
    font-family: 'Jua', sans-serif;
}
#sec_01 .swiper-slide a {
	position: relative;
}
#sec_01 .swiper-slide .hobby_name {
	left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.6em;
    font-weight: bold;    
}

#sec_02,#sec_03,#sec_04,#sec_05,#sec_06 { clear: both; margin-bottom: 70px; }
/* BEST 모임 swiper */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide a.clubImg { width: 215px; height: 115px; }
.swiper-slide a span.bestBg {
	display: block;
    width: 215px;
    height: 115px;
    background-color: #000;
    opacity: 40%;
}

.swiper-slide span,.swiper-slide p { position: absolute; }
.swiper-slide .area {
	background-color: #fff;
    width: 32px;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 0.3rem;
    color: #00c7ae;
    font-weight: bold;
    text-align: center;
}
.swiper-slide .area_online { background-color: #34343c; color:#ffd040; }
.swiper-slide .hobby_icon {
	bottom: 5px;
    left: 3px;
    width: 2rem;
}
.swiper-slide .club_name {
	width: 157px;
    height: 21px;
	bottom: 9px;
    left: 2.5rem;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.swiper-slide .memNum {
	bottom: 10px;
    right: 3px;
    color: #f8f8f8; 
	font-size: 0.3em;
    font-weight: bold;       
}
.swiper-slide .like_icon {
	top: 3px;
    right: 3px;
    width: 18px;
    height: 15px;
    text-indent: -99999px;
    background-image: url(../../img/alto_common_icon.png);
    background-size: 102px;
    background-position: -25px 0px;   
    cursor: pointer;  
}
.swiper-slide .like_icon.select, .normalList .like_icon.select {
	background-position: -145px 0px;
}
.swiper-slide .manager {
	display: block;
    position: absolute;
    top: 95px;
    left: 5px;
    width: 18px;
    height: 15px;
    background-image: url(../../img/alto_common_icon.png);
    background-size: 130px;
    background-position: -38px -139px;
    text-indent: -99999px;
}

/* 인기 클래스 - 클래스, 취미용품 일반 리스트 */
.product .swiper-slide img {
	margin-bottom: 8rem;
	height: 148px;
}
.product .swiper-slide div { 
	position: absolute;
    width: 100%;
    bottom: 0;
    height: 8rem;
}
.product .rank_info {
	top: -20px;
    left: -26px;
}
.product div p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
}
.product .class_name {
	height: 37px;
    width: 100%;
    overflow: hidden;
	top: 5px;
    text-align: left;
    line-height: 1.3rem;
}
.product .hobby_name {
	top: 45px;
	font-size: 0.85rem;
	color: #666;
	font-weight: 400;
}
.product .class_price {
	bottom: 0px;
    font-size: 0.9rem;
}

/* 새로생긴 모임 - 모임 일반 리스트 */
.club div p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
}
.club .swiper-slide a {
	margin-bottom: 5rem;
}
.club .swiper-slide div { 
	position: absolute;
    width: 100%;
    bottom: 0;
    height: 5rem;
}
.club .hobby_icon {
	left: -1px;
    width: 20px;
    height: 20px;
    top: 5px;
}
.club .hobby_icon img { margin: 0; }
.club .club_name {
	text-align: left;
    left: 21px;
    top: 3px;
    width: 135px;
    height: 17px;
    color: #000;
    font-size: 13.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.club .memNum {
	top: 22px;
    left: 23px;
    width: fit-content;
    height: fit-content;
    color: #494c57;
}
.club .class_price {
	bottom: 0;
    left: 23px;
    width: fit-content;
    height: fit-content;
    color: #494c57;
}
.club .s_icon,.s_icon2 {
	display: inline-block;
    width: 13px;
    height: 15px;
    margin: 0 3px;
    background-image: url(../../img/alto_common_icon.png);
    background-repeat: no-repeat;
    background-position: 0px -27px;
    background-size: 104px;
}
.club .s_icon2 {
	background-position: -13px -27px;
}
.club .club_info .club_schedule {	
	top: 35px;
    left: -2px;
    height: 18px;
    font-weight: 700;
    font-size: 0.7rem;
    overflow: hidden;
}
.club .club_schedule span {
	position: relative;
	vertical-align: middle;
}
.club .club_schedule span:nth-child(4) {
	display: inline-block;
    width: 76px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#clubList .club .club_schedule span:nth-child(4), #likeClubList .club .club_schedule span:nth-child(4) { width: 140px; }
.myClub .club .club_schedule span:nth-child(4), .myLike .club .club_schedule span:nth-child(4) { width: 63px; }
#sec_07 { margin-bottom: 100px; }

/* 검색 목록 & 마이페이지 모임 리스트 */
.normalList .noList { 
	margin: 30px;
    padding: 50px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #eaeaea;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.normalList ul li { 
	position: relative;
	width: 240px; 
	margin-bottom: 30px; 
	margin-right: 10px;
	text-align: left;
	display: inline-block;
}
.normalList ul li:nth-child(3n) { margin-right: 0; }
.normalList ul li .club_img {
	width: 240px;
    height: 160px;
	margin-bottom: 10px;
}
.normalList ul li .area {
	position: absolute;
    top: 5px;
    left: 5px;    
    padding: 3px;
    font-size: 10px;
    font-weight: 700;
    background: #fff;
    color: #00c7ae;
}
.normalList ul li .hobby_icon {
	float: left;
    width: 25px;
}
.normalList ul li .club_name {
	float: left;
	width: 180px;
    height: 35px;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.normalList ul li .hobby_name, .normalList ul li .class_price {
	clear: both;
	color: #494c57;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}
.normalList ul li .memNum {
	float: right;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
.normalList ul li .club_schedule { 
	clear: both;
	position: absolute;
    bottom: -10px;
}
.normalList ul li .like_icon {
	position: absolute;
	top: 3px;
    right: 3px;
    width: 18px;
    height: 15px;
    text-indent: -99999px;
    background-image: url(../../img/alto_common_icon.png);
    background-size: 102px;
    background-position: -25px 0px;   
    cursor: pointer;
}
.normalList ul li .manager {
	display: block;
    position: absolute;
    top: 140px;
    left: 5px;
    width: 18px;
    height: 15px;
    background-image: url(../../img/alto_common_icon.png);
    background-size: 130px;
    background-position: -38px -139px;
    text-indent: -99999px; 
}






