@charset "UTF-8";

#clubMenu ul li:nth-child(4) { border-bottom: 3px solid #F3BE34; }

h3 { padding-top :20px; }

.align_right { text-align: right; }
.noList {
	margin: 130px; 
	text-align: center; 
	font-size: 15px;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}

table {
	width: 100%;
	font-size: 12px;
	border: none;
	border-top: 2px solid #494C57;
}	
table th, td { height: 40px; }
table a:hover { color: #000; }
table img { margin: 10px 0; width: auto; }

#clubAlbum li { display: inline-block; margin: 0 5px 40px 0; }
#clubAlbum li img {
	width: 172px;
	height: 172px;
}
#clubAlbum li:nth-child(5n) { margin-right: 0; }
#clubAlbum dt { 
	overflow: hidden;
	width: 172px;
	height: 20px;
	line-height: 20px;
	font-size: 13px; 
	text-overflow: ellipsis;
	white-space:nowrap;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#viewAlbum { margin-bottom: 30px; }
#viewAlbum th { font-size: 15px; font-family: 'Noto Sans KR', sans-serif; font-weight: 700; }
#viewAlbum thead { border-bottom: 1px solid #eee; }
#viewAlbum thead th, #clubView thead td { padding-left: 10px; }
#viewAlbum thead td .regidate { color: #494C57; font-size: 10px; }
#viewAlbum tbody td.image { text-align: center; }
#viewAlbum tbody #tr_1 td.image img { margin-top: 30px; }
#viewAlbum tbody td.contents { padding: 30px; border-bottom: 1px solid #eee; }

.input-file { display: inline-block; }
.input-file [type="file"] {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	padding: 0;
  	margin: -1px;
  	overflow: hidden;
  	clip: rect(0, 0, 0, 0);
  	border: 0 none;
}
.input-file .file-label {
	display: inline-block;
	padding: 0 10px;
  	min-width: 53px;
  	height: 27px;
  	line-height: 26px;  	
  	color: #fff;
  	font-size: 12px;
  	font-weight: 700;  	
  	text-align: center;
  	vertical-align: top;
  	border-radius: 2px;
  	background-color: #BDBDBD;
  	cursor: pointer;
}
.input-file .file-name {
  	width: 400px;
  	background: #f5f5f5;
  	height: 27px;
  	line-height: 26px;
  	text-indent: 5px;
  	border: 1px solid #bbb;
}
.input-file p {
	color: #494C57;
	font-size: 10px; 
}

.imgEdit {
	margin-bottom: 20px;
}
.editOp {
	display: inline-block;
    padding: 0 10px;
    height: 27px;
    line-height: 27px;
    background: #BDBDBD;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 2px;
    cursor: pointer;
}

#boardFrm { margin-bottom: 20px; }
#boardFrm tr { border-bottom: 1px solid #eee; }
#boardFrm th { 
	width: 100px;
    background: #eee;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid #fff;
}
#boardFrm td { padding: 10px; }
#boardFrm #title { margin: 0 10px 0 0; text-align: left; }