@charset "UTF-8";

#clubMenu ul li:nth-child(1) { border-bottom: 3px solid #F3BE34; }

.left { overflow: hidden; float: left; width: 600px; margin-bottom: 70px; }
.right { overflow: hidden; float: right; }

.clubImg {
	width: 100%;
    height: 350px;
	margin: 20px 0;
}
.clubImg img { height: 100%; }
.like_icon {
	position: absolute;
	display: block;
	top: 3px;
    right: 3px;
    width: 18px;
    height: 15px;
    text-indent: -99999px;
    background-image: url(../../img/alto_common_icon.png);
    background-size: 102px;
    background-position: -25px 0px;   
    cursor: pointer;  
}
.like_icon.select { background-position: -145px 0px; }

.clubIntro { width: 600px; }
.clubIntro p { margin-left: 10px; }

.schTit {
	width: 600px;
	padding-left: 30px;
	margin-top: 20px;
	background-image: url(../../img/calendar.png);
	background-size: 20px;
    background-repeat: no-repeat;
}

p.noSchedule {
	padding: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}

#schedule {
	float: left;
	overflow: hidden;
    padding: 5px;
    margin: 0 0 20px 10px;
    margin-bottom: 20px; 
    width: 390px;
    height: 130px;
    border: 2px solid #EAEAEA;
    border-radius: 3px;
}
.listMore {
	float: right;
    overflow: hidden;
    margin-right: 10px;
    width: 120px;
    height: 116px;
    font-size: 12px;
    line-height: 116px;
    text-align: center;
    background: #EAEAEA;
    border-radius: 3px;
    cursor: pointer;
}
.listMore:hover {
	color: #000;
	font-weight: 700;
}

.schDate {
	position: relative;
    float: left;
    height: 60px;
    padding: 0 15px;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    background-color: #F3BE34; 
}
.schDate span { font-family: 'Do Hyeon', sans-serif; }
.schDate span.month { 
	position: absolute;
    top: -15px;
    left: 9px;
    font-size: 14px;
}

.schInfo { 
	float: left;
    margin: 0 0 0 10px;
    padding: 10px; 
	width: 300px;
	background-color: #EAEAEA;
}
.schInfo .title {
	float: left;
    margin-right: 10px;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}
.schInfo .promCount {
	float: left;
	font-size: 15px;
	font-weight: 700;	
}
.schInfo .promCount span { margin: 0 3px; font-family: 'Do Hyeon', sans-serif; }
.schInfo .promCount span:nth-child(1) { color: #00c7ae; }
.schInfo ul { clear: both; }
.schInfo ul li { 
	overflow: hidden;
	display: inline-block; 
	font-size: 12px;
}
.schInfo ul li.promIcon {
	width: 12px;
    background: url(../../img/alto_common_icon.png) no-repeat;
    background-size: 140px;
    background-position: -22px -36px;
    text-indent: -999px;
}
.schInfo ul li.promPrice {
	width: 20px;
    background-size: 123px;
    background-position: -102px -30px;
}
.schInfo ul li.promData {
	width: 85px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.schInfo ul li.promData2 {
	width: 179px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.schInfo .edit {
	margin: 0;
    position: absolute;
    top: 35%;
    right: 10px;
}

.basicBtn02 { width: 390px; margin: 0 0 30px 10px; }
.clubBtn { width: 100% }


.edit { 
	margin: 0 0 10px 70px;
	width: 15px; 
	height: 15px; 
	cursor: pointer;
}

.member { clear: both; margin: 75px 0 0 10px; }
.member ul li img { 
	float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}
.member ul li { display: inline; }
.member ul li.manager img {
	margin-right: 15px;
	border: 3px solid #F3BE34;
}
.member .plus { padding: 10px; margin-left: 5px; }

#schedule_member { 
	width: 300px; 
	float: right; 
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 10px 20px 30px; 
	margin-top: 20px; 
}
#schedule_member ul li { 
	position: relative;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}
#schedule_member ul li:hover { background: #EAEAEA; }
#schedule_member ul li img { 
    width: 40px;
    height: 40px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}
#schedule_member ul li span {	
    position: absolute;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}
#schedule_member ul li span.memName { 
	width: 76px; 
	line-height: 35px;
	overflow: hidden;
}
#schedule_member ul li span.manager { 
	margin-right: 30px;
	right: 0; 
	font-size: 10px;
	font-weight: bold;
	color: #777;
}
#schedule_member h3 {
	margin-left: 10px;
	margin-top:10px;
}

/* 가입하기 팝업 */
#popupJoin { overflow: hidden; width: 500px; }
#popupJoin img { 
	width: 40px;
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}
#title { text-align: left; }
#joinBtn { position: inherit; }

/* 모임 멤버 정보 */
#memberInfo { width: 240px; height: 110px; }
#memberInfo span { font-family: 'Noto Sans KR', sans-serif; }
#memberInfo img {
	width: 40px;
    height: 40px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}
#memberInfo img.memImg { position: absolute; left: 20px; }
#memberInfo .memHobbys {
	position: absolute;
    right: 10px;
    bottom: 15px;
}
#memberInfo .memName { font-weight: 700; }
#memberInfo .memGen {
	display: inline-block;
    width: 15px;
    height: 13px;
    margin: 0 5px 0 2px;
    background: url(../../img/alto_common_icon.png) no-repeat;
    background-size: 100px;
    background-position: -63px -48px;
    text-indent: -999px;
}
#memberInfo .memGen.IconM { background-position: -46px -48px; }
#memberInfo .memBirth {
	color: #777;
	font-size: 10px;
	font-weight: 700;
}
#memberInfo .noOpen {
	position: absolute;
    top: 50%;
    left: 44%;
    color: #777;
}
