@charset "UTF-8";

#clubMenu ul li:nth-child(2) { border-bottom: 3px solid #F3BE34; }

h3 { padding-top :20px; }

.align_right { text-align: right; }

.noList {
	margin: 130px; 
	text-align: center; 
	font-size: 15px;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}

table {
	width: 100%;
	font-size: 12px;
	border: none;
	border-top: 2px solid #494C57;
}	
table th, td { height: 40px; }
table a:hover { color: #000; }

#clubBoard { text-align: center; }

#clubBoard thead { border-bottom: 1px solid #eee; }
#clubBoard tbody td { border-bottom: 1px solid #eee; }
#clubBoard tbody .title { text-align: left; }
#clubBoard tbody .title a {
	display: block;
	overflow: hidden;
    width: 520px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
 

#boardFrm { margin-bottom: 20px; }
#boardFrm tr { border-bottom: 1px solid #eee; }
#boardFrm th { 
	width: 100px;
    background: #eee;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid #fff;
}
#boardFrm td { padding: 10px; }
#boardFrm #title,#boardFrm #splace,#boardFrm #sprice,#boardFrm #snum { margin: 0 10px 0 0; text-align: left; }
#boardFrm #category {
	height: 30px;
    padding: 0 10px;
}

/* 일정 목록 */
.schDate {
	position: relative;
    float: left;
    height: 60px;
    padding: 0 15px 0 20px;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    background-color: #F3BE34; 
}
.schDate span { font-family: 'Do Hyeon', sans-serif; }
.schDate span.month { 
	position: absolute;
    top: -15px;
    left: 9px;
    font-size: 14px;
}

.schInfo { 
	float: left;
    margin: 10px 0 10px 10px;
    padding: 10px;
    width: 100%;
    background-color: #EAEAEA;
    border-radius: 3px;
}
.schInfo .title {
	float: left;
    margin-right: 10px;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}
.schInfo .promCount {
	float: left;
	font-size: 15px;
	font-weight: 700;	
}
.schInfo .promCount span { margin: 0 3px; font-family: 'Do Hyeon', sans-serif; }
.schInfo .promCount span:nth-child(1) { color: #00c7ae; }
.schInfo ul { clear: both; }
.schInfo ul li { 
	overflow: hidden;
	display: inline-block; 
	font-size: 12px;
}
.schInfo ul li.promIcon {
	width: 12px;
    background: url(../../img/alto_common_icon.png) no-repeat;
    background-size: 140px;
    background-position: -22px -36px;
    text-indent: -999px;
}
.schInfo ul li.promPrice {
	width: 20px;
    background-size: 123px;
    background-position: -102px -30px;
}
.schInfo ul li.promData {
	width: 85px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.editBtn { padding-left: 30px; }
.editBtn .editIcon {
	display: inline-block;
	width: 15px;
	background: url(../../img/alto_common_icon.png) no-repeat;
	background-size: 180px;
	background-position: -148px -90px;
    text-indent: -999999px;
}
.editBtn .del { margin-left: 5px; background-position: -165px -90px; }