@charset "UTF-8";
section { 
	max-width: 100%;
    border-top: 1px solid #f2f2f2;
	background-color: #f8f8f8; 
	overflow: hidden; 
}

#member_div {
	width: 640px;
    margin: 70px auto;
    padding: 20px;
    background: #e4e4e4;
}
#member_div h2 {
	padding: 10px;
    background: #fff;
    font-size: 25px;
    font-weight: 700;
    border-radius: 3px;
}
#member_div h4 { margin-bottom: 10px; }

.memSection {
	padding: 24px;
	margin-bottom: 10px;
	background: #fff;
	font-size: 15px;
    border-radius: 3px;    
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}
.memSection textarea { height: 150px; }
.memSection h3 { margin-bottom: 20px; }
.memSection p { 
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 5px;
}

/* notice Style */
.memSection .noti1,.popup_div .noti1 {
	margin: 4px 0;
    color: #777;
	font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
}
.memSection .noti2 {
	margin-left: 5px;
    color: #F3BE34;
	font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 이용약관동의 */
.checkStyle {
	padding: 10px 10px 10px 40px;
	background-image: url(../img/check_icon.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 1px 9px;
	cursor: pointer;
}
.checked { background-position: 1px -36px; }

/* 회원정보 입력 */
#member_div.member_info { width: 450px; }
.memInfo .noti2 {
	display: block;
	margin: 4px 0;
}

.align_div { width: 270px; }
.float_left { float: left; }
.float_right { float: right; }

.info_div {
	overflow: hidden;
    width: 362px;
}
.info_div .float_right { width: 70px; padding-top: 10px; }
.duplBtn {
	display: inline-block;
    font-size: 12px;
    padding: 8px 10px;
}
.gender_div {
    display: inline-block;
    width: 73px;
    height: 33px;
    font-size: 12px;
    vertical-align: middle;   
}
.gender_div span {
	display: inline-block;
    background: #ddd;
    padding: 8px 12px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.gender_div span.select {
	background: #F3BE34;
    font-weight: 700;
}

/* 활동지역 */
#area_list { width: 317px; margin: 0 auto; }
#area_list ul li { 
	display: inline-block;
    width: 92px;
    margin: 5px;
    color: #494c57;
    font-size: 13px;
    font-weight: 700;    
    padding: 5px 10px 5px 30px;
    background: #e4e4e4;
    border-radius: 3px;
    cursor: pointer;
}
#area_list ul li.select { background: #F3BE34; }
#area_list ul li label { cursor: pointer; }
#area_list .form-check-input:checked {
	background-color: #00c7ae;
    border-color: #00c7ae;
}

/* 관심취미 */
#hobby_list { text-align: center; }
#hobby_list ul li { 
	position: relative;
	display: inline-block;
	margin: 0 12px 10px;
	cursor: pointer;
}
#hobby_list ul li img { width: 80px; }
#hobby_list ul li img.select {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

/* 관심취미 - 소분류 */
#hobby_list .main_hobby{
	text-align: left;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
#hobby_list .main_hobby img {
	width: 30px;
	vertical-align: middle;
}
#hobby_list .sub_hobby {
	display: inline-block;
    width: fit-content;
    padding: 5px 9px 0px;
    margin-bottom: 8px;
    font-size: 13px;
    border: 1px solid #494c57;
    border-radius: 3px;
    cursor: pointer;
}
#hobby_list .sub_hobby.select {
	background: #F3BE34;
    font-weight: 700;
}

/* 로그인 */
#login_div {
	width: 380px;
    margin: 70px auto;
    padding: 20px;
    font-size: 12px;
}

#login_div form input:nth-child(3) { margin-bottom: 10px; }
#login_div form button { margin-top: 10px; }
#login_div form a {
	display: inline-block;
    margin-top: 10px;
    color: #777;
    font-size: 11px;
    font-weight: 700;
}
#login_div form a:hover { color: #34343c; }
#login_div form .float_right { float: right; }
#login_div .form-check { padding-left: 0; }
#login_div.form-switch .form-check-input {
	margin: 2px 5px 2px 3px;
    width: 2.5em;
    height: 1.4em;
}
#login_div.form-switch .form-check-input:checked,
#memberInfo.form-switch .form-check-input:checked { background-color: #00c7ae; }

#login_error {
	margin: 10px 0 0;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    color: #00c7ae;
    visibility: hidden;	
}

/* 메일 전송 알림 */
#regiCont {
	width: 500px;
    margin: 70px auto;
    padding: 30px;
    overflow: hidden;
    background: #f4f4f4;		    
    font-family: 'Noto Sans KR', sans-serif;
}
#regiCont div {
	margin: 10px;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    background: #fff;
    border-radius: 3px;
}
#regiCont div .memName {
	font-size: 15px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
#regiCont div .memEmail {
	margin: 10px;
    padding: 5px 10px;
    text-align: center;
    color: #494c57;
    font-size: 20px;
    font-weight: 700;
    background: #F3BE34;
    font-family: 'Noto Sans KR', sans-serif;
}
#regiCont div button { margin: 10px 5px 0 0; }


/* input Style */
input[type=text], input[type=password] { padding: 8px 15px; margin: 10px 0 0; background: #fff; }
input[type=text].size1 { width: 410px; }
input[type=text].size2 { width: 260px; }
input[type=text].size3 { width: 215px; }
/* 필수 입력 text */
.memSection .notiTxt { border: 1px solid #F3BE34; }


